.image1
{
	position: absolute;
	left: 120px;
	top: 120px;
}

.image2
{
	position: absolute;
	left: 50px;
	top: 210px;
}

.image3
{
	position: absolute;
	left: 200px;
	top: 200px;
}

.image4
{
	position: absolute;
	left: 260px;
	top: 110px;
}

.image5
{
	position: absolute;
	left: 340px;
	top: 40px;
}

.image6
{
	position: absolute;
	left: 360px;
	top: 170px;
}

.image7
{
	position: absolute;
	left: 280px;
	top: 280px;
}